[settings]
profile = black
multi_line_output = 3
sections=FUTURE,STDLIB,THIRDPARTY,DJANGO,ALLIANCEAUTH,SDE,FIRSTPARTY,LOCALFOLDER

known_allianceauth=allianceauth,esi
known_django=django
known_sde=eve_sde

import_heading_stdlib=Standard Library
import_heading_django=Django
import_heading_allianceauth=Alliance Auth
import_heading_sde=EVE Online SDE
import_heading_firstparty=Alliance Auth EVE Online SDE Admin Page
import_heading_thirdparty=Third Party
